body {
    background-color: black;
    color: white;

}

h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    margin-top: 50px;
    margin-left: 25%;
    text-align: center;
    width: 50%;
}